[Unit]
Description=Django CI/CD backend daemon
After=network.target

[Service]
WorkingDirectory=/var/www/azz_ci_cd/backend
ExecStart=/var/www/azz_ci_cd/backend/.venv/bin/gunicorn --workers 1 --bind unix:/var/www/azz_ci_cd/backend/backend.sock passport_detect.wsgi:application

[Install]
WantedBy=multi-user.target